{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    {% include 'Layout/nav-menu.html.twig' %}
    <h1>Authors</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Day of birth</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a class="link" href="{{ path('author_show', {'id': author.id}) }}">{{ author.fullName }}</a></td>
                <td>{{ author.birthDate }}</td>
                <td>{{ author.country.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination" style="color: #222222"> {{ knp_pagination_render(authors) }}</div>
{% endblock %}