{{ form_start(form) }}
<div class="auth ">
    <div class="row">
    <label>Author</label>
        {{ form_widget(form.author,{'attr': {'class': 'input'}}) }}
    </div>
    <div class="row">
    <label>Name</label>
        {{ form_widget(form.name,{'attr': {'class': 'input'}}) }}
    </div>
    <div class="row">
    <label>Year</label>
        {{ form_widget(form.year,{'attr': {'class': 'input'}}) }}
    </div>
    <div class="row">
    <label>Category</label>
        {{ form_widget(form.category,{'attr': {'class': 'input'}}) }}
    </div>
    <button style="color: yellow">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
