{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <div class="flex-center" style="margin-top: 10%; margin-left: 5px">
        <div class="part-2 left"><h1>Book</h1></div>
        <div class="part-2 right" style="margin-right: 15px">
            <button><a class="white button" href="{{ path('book_list') }}">Back to list</a></button>
        </div>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Author</th>
            <th>Name</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>{{ book.author.firstName }} {{ book.author.patronymic }} {{ book.author.secondName }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.year }}</td>
            <td>
                <div class="flex-center">
                    <a href="{{ path('book_edit', {'id': book.id}) }}"><i class="fas fa-edit icon"></i></a>
                    {{ include('Book/delete_form.html.twig') }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
